name: Test by GCC latest
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: run test
    steps:
    - name: run test in docker
      uses: onihusube/gcc-meson-docker-action@v6
      with:
        name: 'harmony'
        uri: 'https://github.com/onihusube/harmony.git'
  
  MSVC:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: pip install meson ninja
    - uses: ilammy/msvc-dev-cmd@v1.3.0
    - run: meson setup build
    - run: meson test -C build -v
